@font-face {
  font-family: 'Barlow';
  src: url("Barlow.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* breakpoints */
* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  background-color: #EFF6FF;
  box-sizing: border-box;
  color: #7B8A92;
  font-size: clamp(1vw, calc(10px + 1vw), 18px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 20px 20px 40px -12px #96A5B1;
  background-color: #FFFFFF;
  width: 80vw;
  height: calc(90vh + 4em);
  box-sizing: border-box; }

/* background + logo section */
.bg-section {
  width: 50%;
  height: 100%; }

.background {
  width: 100%;
  height: 100%;
  position: relative; }

.logo {
  position: absolute;
  width: clamp(4em, 6em, 8em);
  z-index: 1;
  padding: 2em 0 0 2em; }

/* login section */
.login {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 8em);
  height: calc(100% - 8em);
  padding: 2vw 4em;
  /* buttons */
  /* OR */
  /* inputs */
  /* radio */
  /* terms */
  /* create account btn */ }
  .login h1 {
    color: #2A4A5C;
    font-size: clamp(1.5vw, calc(15px + 1vw), 2.5em);
    margin-bottom: 0.5em;
    width: 51%; }
  .login h2 {
    color: #2A4A5C;
    width: 51%;
    margin-bottom: 0.5em; }
  .login p {
    margin-bottom: 3vw; }
  .login .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .login .buttons button {
      font-size: clamp(0.75em, calc(8px + 1vw), 12px);
      padding: 0.7em 2.5em 0.7em 0.7em;
      border: 0;
      color: #FFFFFF;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border: none;
      width: 47%; }
      .login .buttons button .icon {
        margin-right: 1em;
        vertical-align: middle;
        width: 2em;
        height: 2em; }
    .login .buttons button:hover {
      box-shadow: 0 0 20px #6fc5ff50; }
    .login .buttons .facebook-button {
      background-color: #255A9B; }
    .login .buttons .facebook-button:hover {
      background-color: #1b4272; }
    .login .buttons .linkedin-button {
      background-color: #0076B6; }
    .login .buttons .linkedin-button:hover {
      background-color: #005583; }
  .login .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    width: 100%; }
    .login .or-container .line {
      height: 1px;
      background-color: #96A5B1;
      width: 7em; }
    .login .or-container .or-text {
      margin: 0 1em;
      text-transform: uppercase;
      color: #131313;
      font-size: 0.8em; }
  .login .login-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em; }
    .login .login-input .input {
      position: relative;
      width: 47%; }
      .login .login-input .input input {
        color: #131313;
        width: calc(100% - 0.5em);
        height: 3vw;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border: #AFAFAF 1px solid;
        position: relative;
        top: 0;
        padding-top: 1em;
        padding-left: 0.5em; }
      .login .login-input .input input:focus {
        border-left: 1.5px solid #3698FB;
        outline: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px; }
      .login .login-input .input input, .login .login-input .input span {
        position: absolute;
        top: 0;
        background-color: transparent; }
      .login .login-input .input span {
        top: 20px;
        color: #AFAFAF;
        padding-left: 4px;
        transform: translate(4px, -90%);
        font-size: 0.7em; }
  .login form {
    width: 100%; }
    .login form ul {
      height: 8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      color: #131313;
      overflow-x: hidden;
      /* info in radio */ }
      .login form ul li {
        display: inline-block;
        position: relative; }
      .login form ul .radio-button {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center; }
      .login form ul .radio-button input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
      .login form ul .radio {
        position: relative;
        display: inline-block;
        border-radius: 100%;
        height: 12px;
        width: 12px;
        border: 2px solid #AFAFAF;
        margin-right: 0.5em; }
      .login form ul .radio::before {
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 2px;
        left: 2px;
        background-color: #ffffff;
        opacity: 0; }
      .login form ul .radio-button input[type="radio"]:checked + .radio {
        border-color: #3698FB;
        background-color: #3698FB; }
      .login form ul .radio-button input[type="radio"]:checked + .radio::before {
        opacity: 1; }
      .login form ul span {
        display: inline-block;
        width: 8px;
        height: 8px;
        font-size: 0.5em;
        color: #AFAFAF;
        border: 2px solid #AFAFAF;
        border-radius: 100%;
        text-align: center;
        margin-left: 0.2em; }
    .login form .info {
      position: relative;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      transition: all .09s ease-out; }
      .login form .info:before {
        content: attr(data-info);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: #AFAFAF;
        padding: 10px 14px;
        background-color: #FFFFFF;
        box-shadow: 1px 6px 50px -35px #AFAFAF;
        width: 210px;
        border-radius: 10%;
        font-size: 16px;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: inherit; }
      .login form .info:hover:before {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        top: calc(100% + 10px); }
    .login form #individual-span:before {
      transform: translateX(-30%); }
    .login form #trust-span:before {
      transform: translateX(-110%); }
  .login .terms {
    font-size: clamp(0.75em, calc(8px + 1vw), 12px);
    color: #AFAFAF; }
    .login .terms .terms-checkbox {
      position: relative;
      display: inline-block; }
    .login .terms .terms-checkbox > input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      z-index: -1;
      position: absolute;
      left: -10px;
      top: -8px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: none;
      outline: none;
      opacity: 0;
      transform: scale(1);
      pointer-events: none;
      transition: opacity 0.3s, transform 0.2s; }
    .login .terms .terms-checkbox > span {
      display: inline-block;
      width: 100%;
      cursor: pointer; }
    .login .terms .terms-checkbox > span::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      margin: 3px 11px 3px 1px;
      border: solid 2px;
      border-radius: 2px;
      width: 15px;
      height: 15px;
      vertical-align: top; }
    .login .terms .terms-checkbox > span::after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 1px;
      width: 10px;
      height: 5px;
      border: solid 2px transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg); }
    .login .terms .terms-checkbox > input:checked + span::before,
    .login .terms .terms-checkbox > input:indeterminate + span::before {
      border-color: #3698FB;
      background-color: #3698FB; }
    .login .terms .terms-checkbox > input:checked + span::after,
    .login .terms .terms-checkbox > input:indeterminate + span::after {
      border-color: #ffffff; }
    .login .terms a {
      color: #3698FB;
      transition: all 0.5s; }
      .login .terms a:hover {
        color: #0465c7; }
  .login .create {
    background-color: #3698FB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 20em;
    height: 3em;
    font-weight: 700;
    font-size: clamp(0.75em, calc(8px + 1vw), 12px); }
    .login .create:hover {
      background-color: #057ef9; }

/* adaptive */
@media screen and (max-width: 980px) {
  .bg-section {
    width: 0;
    height: 0; }
    .bg-section img {
      visibility: hidden; }

  .login {
    width: 100%;
    height: 100%;
    padding: 2vw 4em; } }
@media screen and (max-width: 736px) {
  main {
    width: 100%;
    height: 100%;
    box-sizing: border-box; }

  .login {
    display: flex;
    align-content: stretch;
    justify-content: center;
    height: 100%;
    padding: 0 4vw; }
    .login .login-input {
      flex-direction: row; }
      .login .login-input .input input {
        height: 10vw;
        margin-bottom: 3vw; }

  h1 {
    padding-top: 2vw; }

  form {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*# sourceMappingURL=main.css.map */
