@import 'breakpoints';

@font-face {
  font-family: 'Barlow';
  src: url('Barlow.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$main-font-size: clamp(1vw, calc(10px + 1vw), 18px);
$h1-font-size: clamp(1.5vw, calc(15px + 1vw), 2.5em);
$h2-font-size: clamp(1.2vw, calc(12px + 1vw), 2.2em);
$body-bg-color: #EFF6FF;
$section-bg-color: #FFFFFF;
$box-shadow: #96A5B1;
$h1-font-color: #2A4A5C;
$font-color: #7B8A92;
$button-font-size: clamp(0.75em, calc(8px + 1vw), 12px);
$button-font-color: #ffffff;
$facebook-color: #255A9B;
$linkedin-color: #0076B6;
$input-font-color: #131313;
$input-font-size: 0.7em;
$input-color: #AFAFAF;
$input-border-color: #3698FB;

/* breakpoints */

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (null, 736px)
));

* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: $body-bg-color;
  box-sizing: border-box;
  color: $font-color;
  font-size: $main-font-size;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 20px 20px 40px -12px $box-shadow;
  background-color: $section-bg-color;
  width: 100%;
  max-width: 1300px;
  height: calc(80vh + 4em);
  box-sizing: border-box;
}

/* background + logo section */

.bg-section {
  width: 50%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  position: absolute;
  width: clamp(4em, 6em, 8em);
  z-index: 1;
  padding: 2em 0 0 2em;
}


/* login section */

.login {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(50% - 8em);
  height: calc(100% - 4vw);
  padding: 3vw 4em 2vw 4em;

  h1 {
    color: $h1-font-color;
    font-size: $h1-font-size;
    margin-bottom: 0.5em;
    width: 100%;
  }

  h2 {
    color: $h1-font-color;
    width: 100%;
    margin-bottom: 0.5em;
    font-size: $h2-font-size;
  }

  p {
    margin-bottom: 1vw;
    width: 100%;
  }

  /* buttons */

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      font-size: $button-font-size;
      padding: 0.7em 2.5em 0.7em 0.7em;
      border: 0;
      color: #FFFFFF;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border: none;
      width: 47%;

      .icon {
        margin-right: 1em;
        vertical-align: middle;
        width: 2em;
        height: 2em;
      }
    }

    button:hover {
      box-shadow: 0 0 20px #6fc5ff50;
    }

    .facebook-button {
      background-color: $facebook-color;
    }

    .facebook-button:hover {
      background-color: darken($facebook-color, 10%);
    }

    .linkedin-button {
      background-color: $linkedin-color;
    }

    .linkedin-button:hover {
      background-color: darken($linkedin-color, 10%);
    }
  }

  /* OR */

  .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    width: 100%;

    .line {
      height: 1px;
      background-color: $box-shadow;
      width: 7em;
    }

    .or-text {
      margin: 0 1em;
      text-transform: uppercase;
      color: $input-font-color;
      font-size: 0.8em;
    }
  }

  /* inputs */

  .login-input {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 4em;

    .inputs-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: calc(3vw + 1em);
      margin-bottom: 2vw;
    }

    .one-input {
      position: relative;
      width: 47%;

      input {
        color: $input-font-color;
        width: calc(100% - 0.5em);
        height: 3vw;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border: $input-color 1px solid;
        position: relative;
        top: 0;
        padding-top: 1em;
        padding-left: 0.5em;
      }

      input:focus {
        border-left: 1.5px solid $input-border-color;
        outline: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px;
      }

      input, span {
        position: absolute;
        top: 0;
        background-color: transparent;
      }

      span {
        top: 20px;
        color: $input-color;
        padding-left: 4px;
        transform: translate(4px, -90%);
        font-size: $input-font-size;
      }
    }
  }

  /* radio */

  form {
    width: 100%;

    .radio-box {
      width: 100%;
    }

    ul {

      height: 8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      color: $input-font-color;
      overflow-x: hidden;


      li {
        display: inline-block;
        position: relative;
      }

      .radio-button {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
      }

      .radio-button input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .radio {
        position: relative;
        display: inline-block;
        border-radius: 100%;
        height: 12px;
        width: 12px;
        border: 2px solid $input-color;
        margin-right: 0.5em;
      }

      .radio::before {
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 2px;
        left: 2px;
        background-color: $button-font-color;
        opacity: 0;
      }

      .radio-button input[type="radio"]:checked + .radio {
        border-color: $input-border-color;
        background-color: $input-border-color;
      }

      .radio-button input[type="radio"]:checked + .radio::before {
        opacity: 1;
      }


      /* info in radio */

      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        font-size: 0.5em;
        color: $input-color;
        border: 2px solid $input-color;
        border-radius: 100%;
        text-align: center;
        margin-left: 0.2em;
      }

    }

    .info {
      position: relative;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      transition: all .09s ease-out;

      &:before {
        content: attr(data-info);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: $input-color;
        padding: 10px 14px;
        background-color: $section-bg-color;
        box-shadow: 1px 6px 50px -35px $input-color;
        width: 210px;
        border-radius: 10%;
        font-size: 16px;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: inherit;
      }


      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
          z-index: 10;
          top: calc(100% + 10px);
        }
      }
    }

    #individual-span {
      &:before {
        transform: translateX(-30%);
      }
    }


    #trust-span {
      &:before {
        transform: translateX(-110%);
      }
    }

  }

  /* terms */

  .terms {
    font-size: $button-font-size;
    color: $input-color;

    .terms-checkbox {
      position: relative;
      display: inline-block;
    }

    .terms-checkbox > input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      z-index: -1;
      position: absolute;
      left: -10px;
      top: -8px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: none;
      outline: none;
      opacity: 0;
      transform: scale(1);
      pointer-events: none;
      transition: opacity 0.3s, transform 0.2s;
    }

    .terms-checkbox > span {
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }


    .terms-checkbox > span::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      margin: 3px 11px 3px 1px;
      border: solid 2px;
      border-radius: 2px;
      width: 15px;
      height: 15px;
      vertical-align: top;
    }

    .terms-checkbox > span::after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 1px;
      width: 10px;
      height: 5px;
      border: solid 2px transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
    }


    .terms-checkbox > input:checked + span::before,
    .terms-checkbox > input:indeterminate + span::before {
      border-color: $input-border-color;
      background-color: $input-border-color;
    }

    .terms-checkbox > input:checked + span::after,
    .terms-checkbox > input:indeterminate + span::after {
      border-color: $button-font-color;
    }

    a {
      color: $input-border-color;
      transition: all 0.5s;

      &:hover {
        color: darken($input-border-color, 20%);
      }
    }
  }

  /* create account btn */

  .create {
    background-color: $input-border-color;
    color: $button-font-color;
    border: none;
    border-radius: 5px;
    width: 20em;
    height: 3em;
    font-weight: 700;
    font-size: $button-font-size;

    &:hover {
      background-color: darken($input-border-color, 10%)
    }
  }
}


/* adaptive */

@include breakpoint('<=medium') {

  .bg-section {
    width: 0;
    height: 0;

    img {
      visibility: hidden;
    }
  }

  .login {
    width: 100%;
    padding: 10vw 4em 2vw 4em;

    p {
      margin-bottom: 3vw;
    }

    h1 {
      font-size: clamp(3vw, calc(20px + 1vw), 2.8em);
    }

    h2 {
      font-size: clamp(2.8vw, calc(16px + 1vw), 2.5em);
    }

    .login-input {
      flex-direction: row;

      .inputs-box {
        margin-bottom: 4vw;
      }

      .one-input input {
        height: 5vw;
        margin-bottom: 3vw;
      }
    }

  }


}

@include breakpoint('<=small') {

  body {
    background-color: $section-bg-color;
  }

  main {
    box-shadow: none;
  }

  main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .login {
    background-color: $section-bg-color;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 10vw 4vw 10vw 4vw;

    p {
      margin-bottom: 5vw;
    }

    h1 {
      font-size: clamp(4vw, calc(25px + 1vw), 3.2em);
      height: 1.5em;
    }

    h2 {
      font-size: clamp(3.5vw, calc(20px + 1vw), 2.8em);
    }

    .buttons button {
      margin-bottom: 2vw;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .login-input {
      flex-direction: row;

      .inputs-box {
        height: calc((10vw + 1.5em) * 2);
        margin-bottom: 3vw;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .one-input {
        width: 100%;
        height: calc(10vw + 1.5em);

        input {
          padding-top: 1.5em;
          height: 8vw;
          margin-bottom: 3vw;
        }
      }
    }

    .radio-box {
      ul {
        overflow: scroll;
        overflow-y: hidden;
        overflow-x: hidden;


        .info {
          &:before {
            content: attr(data-info);
            padding: 5px 10px;
            box-shadow: 1px 6px 50px -35px $input-color;
            font-size: 1.8em;
            width: 190px;

          }
        }
            #ira-span {
              &:before {
                transform: translateX(-80%);
              }
            }

            #trust-span {
              &:before {
                transform: translateX(-100%);
              }
            }

      }
    }

    h1 {
      padding-top: 2vw;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}